
cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/asurada.xcuserdatad/xcschemes/libcocos2d iOS.xcscheme

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/asurada.xcuserdatad/xcschemes/libcocos2d Mac.xcscheme

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/asurada.xcuserdatad/xcschemes/xcschememanagement.plist

proj.ios_mac/caracalClient.xcodeproj/project.xcworkspace/xcuserdata/asurada.xcuserdatad/UserInterfaceState.xcuserstate

proj.ios_mac/caracalClient.xcodeproj/xcuserdata/asurada.xcuserdatad/xcschemes/caracalClient-desktop.xcscheme

proj.ios_mac/caracalClient.xcodeproj/xcuserdata/asurada.xcuserdatad/xcschemes/caracalClient-mobile.xcscheme

proj.ios_mac/caracalClient.xcodeproj/xcuserdata/asurada.xcuserdatad/xcschemes/xcschememanagement.plist

proj.ios_mac/caracalClient.xcodeproj/project.xcworkspace/xcuserdata/JP116018.xcuserdatad/UserInterfaceState.xcuserstate

proj.ios_mac/caracalClient.xcodeproj/xcuserdata/JP116018.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

proj.ios_mac/caracalClient.xcodeproj/project.xcworkspace/xcuserdata/JP116018.xcuserdatad/UserInterfaceState.xcuserstate

proj.ios_mac/caracalClient.xcodeproj/xcuserdata/JP116018.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xccheckout
